/* base */
:root {
  --white: #fff;
  --lprimary: rgba(240, 237, 255, 0.8);
  --gredient-one: #9181F4;
  --gredient-two: #5038ED;
  --gredient-two: #5038ED;
  --placeholder: #1C1C1C;
  --radius: 16px
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

*:lang(ar) {
  font-family: "Cairo", sans-serif;

}

/* utilities */
.f-bold {
  font-weight: bold;
}

.form-group {
  position: relative;
}

.form-group input {
  position: relative;
  padding-block: 17px;
  padding-inline-start: 48px;
  border-radius: 16px;
  background-color: var(--lprimary);
  border: none;
  width: 100%;
}

.form-group input:focus {
  outline: none;
}

.form-group input::placeholder {
  color: var(--placeholder);
  font-size: 12px;
}

.form-group img {
  position: absolute;
  width: 24px;
  height: 24px;
  object-fit: contain;
  inset-inline-start: 18px;
  top: 13px;

}

/* style */
main {
  display: grid;
  grid-template-columns: 50% 50%;
}

main>* {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}




/*  */



.form-section>div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  width: 364px;
  max-width: 100%;
  padding: 8px;
}

.form-section>div>div:first-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-section>div>div:first-child h2 {
  font-size: 30px;
}

.form-section>div>div:first-child p {
  color: #525252;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

button[type='submit'] {
  background: linear-gradient(to right, var(--gredient-one), var(--gredient-two));
  padding: 17px 8px;
  min-width: 124px;
  box-shadow: 0px 8px 21px 0px #00000029;
  color: var(--white);
  font-weight: bold;
  border-radius: var(--radius);
  border: none;
  width: fit-content;
  margin: auto;
}

.form-section>div>div:nth-of-type(2) {
  position: relative;
}

.form-section>div>div:nth-of-type(2) span {
  background-color: var(--white);
  padding: 0px 4px;
}

.form-section>div>div:nth-of-type(2)::after {
  position: absolute;
  top: 50%;
  height: 1px;
  width: 100%;
  background: black;
  content: '';
  left: 0;
  z-index: -1;
}

.form-section>div>div:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-section>div>div:nth-of-type(3) button {
  border: none;
  background-color: var(--white);
  border: 1px solid #F0EDFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: var(--radius);
  padding: 11px 8px;
}

.login-image {
  overflow: hidden;
  background-image: url(../assets/background.png), linear-gradient(45deg, var(--gredient-two), var(--gredient-one));
}

.login-image>div {
  position: relative;
  backdrop-filter: blur(30px) brightness(1.2);
  width: 412px;
  height: 524px;
  border-radius: 46px;
  padding: 26px;
  border: 1px solid #ffffff50;
}

.login-image>div p {
  font-size: 32px;
  width: 50%;
  color: white;
}

.login-image>div img.icon {
  position: absolute;
  left: 0%;
  inset-inline-start: -35px;
  background: white;
  padding: 16px;
  border-radius: 70px;
  bottom: 100px;

}

.login-image>div img.wemon {
  position: absolute;
  inset-inline-end: -40px;
  bottom: 0;
  user-select: none;

}

.login-image>div img.wemon:lang(ar) {
  transform: rotateY(180deg);
}

@media (max-width:768px) {
  .login-image {
    display: none;
  }

  main {

    grid-template-columns: 100%;
  }
}

@media (max-width:1100px) {
  .login-image>div {
    width: 350px;

  }
}